<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>


        <record model="ir.ui.view" id="servers_form">
            <field name="name">server form view</field>
            <field name="model">it_tools.server</field>
            <field name="arch" type="xml">

                <form string="Server form">
                    <sheet>
                        <h1>
                            <field name="name" placeholder="Nombre de servidor"/>
                        </h1>
                    </sheet>
                </form>
            </field>
    
    </data>
</openerp>
