<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>

        <menuitem name="IT Tools" id="menu_root" sequence="110"/>

        <menuitem name="General" id="menu_general" parent="menu_root"/>

        <record model="ir.actions.act_window" id="action_capacity">
            <field name="name">capacity</field>
            <field name="res_model">ait_tools.capacity</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem name="Capacidades" id="menu_capacity" parent="menu_general"
            sequence="2" action="action_capacity"/>

        <record model="ir.ui.view" id="capacity_form">
            <field name="name">capacity form view</field>
            <field name="model">ait_tools.capacity</field>
            <field name="arch" type="xml">

                <form string="Capacities" version="7.0">
                    <sheet>
                        <h1>
                            <field name="name" placeholder="Título de Capacidad"/>
                        </h1>
                        <notebook>
                            <page string="Description">
                                <field name="description"/>
                            </page>
                            <page string="Servers">
                                <field name="servers"/>
                            </page>
                        </notebook>
                    </sheet>
                </form>
            </field>
        </record>

        <record model="ir.actions.act_window" id="action_servers">
            <field name="name">Servers</field>
            <field name="res_model">ait_tools.server</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem name="Servers" id="menu_servers" parent="menu_general"
            sequence="1" action="action_servers"/>

        <record model="ir.ui.view" id="servers_form">
            <field name="name">server form view</field>
            <field name="model">ait_tools.server</field>
            <field name="arch" type="xml">
                <form string="Server form">
                    <sheet>
                        <h1>
                            <field name="name" placeholder="Nombre de servidor"/>
                        </h1>
                        <group col="4">
                            <field name="cores"/>
                            <field name="os"/>
                                <field name="hdd"/>
                            <div>
                                <field name="capacity" on_change="1" modifiers="{}"/>
                            </div>
                            <newline/>
                            <field name="ip"/>
                            <field name="rootpass"/>
                            <field name="services"/>
                            <field name="server_services"/>
                            <field name="services2"/>
                        </group>
                    </sheet>
                </form>
            </field>
        </record>

        <record model="ir.actions.act_window" id="action_services">
            <field name="name">Services</field>
            <field name="res_model">ait_tools.services</field>
            <field name="view_mode">tree,form</field>
        </record>


        <menuitem name="Services" id="menu_services" parent="menu_general"
            sequence="3" action="action_services"/>

        <record model="ir.ui.view" id="services2_form">
            <field name="name">services2 form view</field>
            <field name="model">ait_tools.services2</field>
            <field name="arch" type="xml">

                <form string="Services2" version="7.0">
                    <sheet>
                        <h1>
                            <field name="name" placeholder="Título de Servicio"/>
                        </h1>
                        <notebook>
                            <page string="Description">
                                <field name="description"/>
                            </page>
                        </notebook>
                    </sheet>
                </form>
            </field>
        </record>


    
    </data>
</openerp>
